<!DOCTYPE html>

<html lang="ko">

<head>
    <meta charset="euc-kr">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="ko-KR">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">

    <title>휴대폰 본인확인 - {{ isp_name }} - PASS 앱 인증</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="screen" />
    <script src="{{ url_for('static', filename='js/common/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/layerPopup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/style.js') }}"></script>

    <script type="text/javascript">
        let isPolling = false;
        let failCount = 0;
        const maxFailCount = 3;

        $(function() {
            const checkStatus = (isManual) => {
                if (isPolling && !isManual) return;
                isPolling = true;

                $.ajax({
                    url: "{{ url_for('push_confirm_proc') }}",
                    method: 'POST',
                    success: (data) => {
                        if (data.code === 'SUCCESS') {
                            location.href = data.move_page;
                        } else if (data.code === 'RETRY') {
                            isPolling = false;

                            if (isManual) {
                                failCount++;

                                if (failCount >= maxFailCount) {
                                    location.href = '{{ url_for("error") }}';
                                    return;
                                }

                                let subMessage = "남은 횟수 " + failCount + "/" + maxFailCount;
                                let title = data.message ||
                                    "아직 인증이 완료되지 않았습니다.<br>PASS 앱에서 인증을 완료해주세요.";
                                messageLayerOpen(title, subMessage, $("#btnSubmit"));
                            }
                        } else {
                            location.href = "{{ url_for('error') }}";
                        }
                    },
                    error: () => isPolling = false
                });
            };

            $('#btnSubmit').on('click', () => checkStatus(true));
            setInterval(() => checkStatus(false), 1000);
        });
    </script>
</head>

<body>
    <div class="" id="container">
        <header id="header" class="pass_head">
            <h1 class="logo">
                <img src="https://nice.checkplus.co.kr/images/mobileCertV2/logo_pass.svg?ver=1767676388823" alt="PASS">
            </h1>
            <em>인증을 넘어<br>일상으로 PASS</em>

        </header>

        <section class="sc_content appAlarm_content">
            <div class="inner notice1">
                <div class="img_txt">
                    <h3 class=""><b class="font_red">PASS 앱</b> <b class="font_bk">알림 확인</b>하고<br> 인증을 진행해주세요</h3>
                </div>
                <i class="img_notice" style="background: url(https://nice.checkplus.co.kr/images/mobileCertV2/content/alarmMsg.svg) no-repeat center bottom;" alt="패스 인증을 요청했어요 알림을 눌러 확인해주세요"></i>
                <p class="notice_txt">자동으로 인증 처리가 안될 경우<br>아래의 <strong>'인증완료'</strong> 버튼을 눌러주세요</p>
                <div class="btn_box">
                    <button type="button" id="btnSubmit" class="btn_pass">인증 완료</button>
                    <div class="check_info">
                        <button type="button" id="btnCertGuideLayerOpen" class="btn_check clearfix">
                            <i class="mark_q"><img
                                    src="https://nice.checkplus.co.kr/images/mobileCertV2/icon/icon_mark1.png"
                                    alt=""></i>
                            <span>인증에 문제가 있으신가요?</span>
                            <span>상세확인</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <div id="certGuideLayer" class="popup_wrap">
            <div class="dim"></div>
            <div class="group_popup type2">
                <div class="inner">
                    <div class="popup_head">
                        <h3>인증 과정에 문제가 발생하였나요?</h3>
                    </div>
                    <div class="popup_content">
                        <p><i class="dot" aria-hidden="true"></i><span class="alarm_txt">휴대폰 설정에서 PASS 앱 알림을 끄셨거나 입력하신
                                정보가 일치하지 않을 경우 PASS 앱으로 인증 알림이 전송되지 않습니다</span></p>
                        <p><i class="dot" aria-hidden="true"></i><span class="alarm_txt">PASS 인증 알림이 수신되지 않을 경우 PASS 앱
                                알림 설정을 켜시거나 정확한 정보로 재시도 해주시기 바랍니다</span></p>
                        <p><i class="dot" aria-hidden="true"></i><span class="alarm_txt">PASS 앱 설치 및 가입 후 이용가능합니다
                                앱마켓(구글플레이 스토어/애플 앱스토어)에서 PASS를 검색하세요</span></p>
                    </div>
                    <button type="button" class="btn_close btnLayerClose">닫기</button>
                </div>
            </div>
        </div>


        <div id="messageLayer" class="popup_wrap">
            <div class="dim"></div>
            <div class="group_popup type2">
                <div class="inner">
                    <div class="popup_head">
                        <h3></h3>
                    </div>
                    <div class="popup_content">
                        <p class="code_txt"></p>
                    </div>
                    <button type="button" class="btn_close btnLayerClose">확인</button>
                </div>
            </div>
        </div>

        <footer id="footer" class="nice_footer">
            <div class="copyright">
                <div class="copyrightInner">
                    <a href="https://github.com/Imp1ex/Pass-Reverse/blob/main/NICE.md" target="_blank" class="footerAgreePop" title="새창 열림"><span class="bold partition">NICE평가정보 공식 항목들</span></a>
                    <a href="https://github.com/Imp1ex/Pass-Reverse" target="_blank" class="footerAgreePop" title="새창 열림"><span class="partition">오픈소스</span></a>
                    <p>해당 페이지는 공식 PASS 인증 페이지가 아닙니다</p>
                </div>
                <div class="logoBox">
                    <div class="footer_logo">
                        <img src="https://nice.checkplus.co.kr/images/cert/copyright_small.gif" alt="NICE평가정보">
                    </div>
                </div>
            </div>
        </footer>

    </div>


</body>

</html>