<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="euc-kr">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="ko-KR">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">

    <title>휴대폰 본인확인 - 통신사 선택</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="screen" />
    <script src="{{ url_for('static', filename='js/common/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/layerPopup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/style.js') }}"></script>
</head>

<body>
    <div class="" id="container">

        <header id="header" class="pass_head">
            <h1 class="logo">
                <img src="https://nice.checkplus.co.kr/images/mobileCertV2/logo_pass.svg?ver=1767676388823" alt="PASS">
            </h1>
            <em>인증을 넘어<br>일상으로 PASS</em>
        </header>
        <section class="sc_content tel_content">
            <form name="frm" id="frm" method="post" action="{{ url_for('select_method') }}" autocomplete="off">
                <input type="hidden" name="selectMobileCo" id="selectMobileCo" value="">
                <input type="hidden" name="ispCode" id="ispCode" value="">
                <input type="hidden" name="os" id="os" value="">
                <div class="inner">
                    <h2><strong>이용중인 통신사</strong>를<br>선택해 주세요</h2>
                    <ul class="tel_list">
                        <li class="tel_item"><button type="button" id="telcomSK" class="mobileCoCheck"
                                value="SK">SKT</button></li>
                        <li class="tel_item"><button type="button" id="telcomKT" class="mobileCoCheck"
                                value="KT">KT</button></li>
                        <li class="tel_item"><button type="button" id="telcomLG" class="mobileCoCheck" value="LG">LG
                                U+</button></li>
                        <li class="tel_item save"><button type="button" id="telcomSM" class="mobileCoCheck"
                                value="SM">SKT<br>알뜰폰</button></li>
                        <li class="tel_item save"><button type="button" id="telcomKM" class="mobileCoCheck"
                                value="KM">KT<br>알뜰폰</button></li>
                        <li class="tel_item save"><button type="button" id="telcomLM" class="mobileCoCheck"
                                value="LM">LG U+<br>알뜰폰</button></li>
                    </ul>
                    <button type="button" id="btnMvnoCompanyLayerOpen" class="btn_check clearfix"><i class="mark_q"><img
                                src="https://nice.checkplus.co.kr/images/mobileCertV2/icon/icon_mark1.png"
                                alt=""></i><span>알뜰폰 사업자 확인</span></button>
                </div>

            </form>
        </section>
        <div id="mvnoCompanyLayer" class="popup_wrap">
            <div class="group_popup group_saveTel">
                <div class="inner">
                    <div class="popup_head">
                        <button type="button" class="btn_close btnLayerClose"><img
                                src="https://nice.checkplus.co.kr/images/mobileCertV2/btn/btn_pclose.svg"
                                alt="닫기"></button>
                        <h3>알뜰폰 사업자 확인</h3>
                    </div>
                    <ul role="tablist" class="saveTel_list">
                        <li id="sktTab" class="saveTel_item">
                            <button aria-controls="telCont1" role="tab" type="button" class="saveTel_tab on"
                                aria-selected="true">SKT 알뜰폰</button>
                            <div class="content_area">
                                <div class="content_inner">
                                    <div role="tabpanel" aria-labelledby="sktTab" id="telCont1" class="tab_txt on"
                                        tabindex="0">
                                        KCT(티플러스),SK텔링크(SK세븐모바일),큰사람(이야기모바일),이마트(이마트알뜰폰),스마텔(스마텔),아이즈비전(아이즈모바일),에스원(안심모바일),유니컴즈(모빙),프리텔레콤(프리티),LG헬로비전(헬로모바일),테스트,조이텔(조이텔),토스모바일(주),KB국민은행(리브모바일)
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="ktTab" class="saveTel_item">
                            <button aria-controls="telCont2" role="tab" type="button" class="saveTel_tab">KT
                                알뜰폰</button>
                            <div class="content_area">
                                <div class="content_inner">
                                    <div role="tabpanel" aria-labelledby="ktTab" id="telCont2" class="tab_txt">
                                        (주)LG헬로비전(헬로모바일),(주)니즈텔레콤(니즈모바일),(주)더원플랫폼(아이플러스유),(주)미니게이트(M2모바일),(주)스테이지파이브(핀플레이),(주)와이드모바일(여유알뜰폰),(주)위너스텔(웰),(주)파인디지털,(주)한국케이블텔레콤(티플러스),ACN코리아(플래시모바일),KT스카이라이프(스카이라이프모바일),KT엠모바일(Kt
                                        M
                                        모바일),KT텔레캅,드림라인(주)(드림모바일),로카모빌리티(주),토스모바일(주),아이디스파워텔㈜,앤알커뮤니케이션(앤텔레콤),에스원(안심모바일),장성모바일,㈜세종텔레콤(스노우맨),㈜씨엔커뮤니케이션(씨앤컴),㈜아이즈비전(아이즈모바일),㈜에넥스텔레콤(A모바일),㈜에이프러스(아시아모바일),㈜유니컴즈(모빙),㈜제이씨티,㈜코드모바일(이지모바일),㈜큰사람커넥트(이야기모바일),㈜프리텔레콤(프리티),한국피엠오(주)(밸류컴),(주)스마텔,KB국민은행(리브엠),(주)포인트파크(PNT),(주)고고팩토리,㈜더피엔엘,(주)한패스인터내셔널(HPS),스피츠모바일(주),㈜글로벌머니익스프레스
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li aria-controls="telCont3" id="lguTab" class="saveTel_item">
                            <button aria-controls="telCont3" role="tab" type="button" class="saveTel_tab">LG U+
                                알뜰폰</button>
                            <div class="content_area">
                                <div class="content_inner">
                                    <div role="tabpanel" aria-labelledby="lguTab" id="telCont3" class="tab_txt">
                                        ACN코리아(플래시모바일), (주)에넥스텔레콤(A모바일), (주)에이프러스(아시아모바일), (주)CK커뮤스트리(슈가모바일),
                                        SL리테일(셀모바일), (주)코드모바일(이지모바일), 에르엘모바일, (주)아이즈비전(아이즈모바일), (주)핀샷(코인샷모바일),
                                        LG헬로비전(헬로모바일), 한패스모바일, (주)보스(화인통신), 사람과연결, 인스코리아(인스모바일), 조이텔, 국민은행(리브모바일), 제주방송,
                                        (주)코나아이(모나), (주)KG모빌리언스(KG모바일), (주)큰사람커넥트(이야기모바일), 토스모바일, (주)미디어로그(U+유모바일),
                                        (주)마블프로듀스(폰마블), 엔페이넷(니즈텔레콤), (주)앤알커뮤니케이션(앤텔레콤), 엔티온텔레콤, 원텔레콤, (주)스테이지파이브(핀다이렉트),
                                        한국피엠오㈜(벨류컴), (주)레그원(온국민폰), 에스원안심모바일, 서경모바일, 세종텔레콤(스노우맨), 스마텔, (주)인스코비(프리티),
                                        (주)한국케이블텔레콤(티플러스), (주)유니컴즈(모빙), (주)와이드모바일(도시락모바일), (주)위너스텔(well),
                                        (주)와이엘랜드(여유텔레콤), 글로벌머니익스프레스(GME모바일), ㈜친구아이앤씨(친구모바일), 찬스모바일, 우리은행(우리WON모바일),
                                        아정커뮤니케이션(아정당모바일)</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <button type="button" class="btn_pass btn_close btnLayerClose">확인</button>
                </div>
            </div>
        </div>
        <div id="messageLayer" class="popup_wrap">
            <div class="dim"></div>
            <div class="group_popup type2">
                <div class="inner">
                    <div class="popup_head">
                        <h3></h3>
                    </div>
                    <div class="popup_content">
                        <p class="code_txt"></p>
                    </div>
                    <button type="button" class="btn_close btnLayerClose">확인</button>
                </div>
            </div>
        </div>

        <footer id="footer" class="nice_footer">
            <div class="copyright">
                <div class="copyrightInner">
                    <a href="https://github.com/Imp1ex/Pass-Reverse/blob/main/NICE.md" target="_blank"
                        class="footerAgreePop" title="새창 열림"><span class="bold partition">NICE평가정보 공식 항목들</span></a>
                    <a href="https://github.com/Imp1ex/Pass-Reverse" target="_blank" class="footerAgreePop"
                        title="새창 열림"><span class="partition">오픈소스</span></a>
                    <p>해당 페이지는 공식 PASS 인증 페이지가 아닙니다</p>
                </div>
                <div class="logoBox">
                    <div class="footer_logo">
                        <img src="https://nice.checkplus.co.kr/images/cert/copyright_small.gif" alt="NICE평가정보">
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>